
    *{
    -webkit-tap-highlight-color: transparent;

}
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mainSection{
        height: 600px;
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

    }
    #hearBroke{
        position: absolute;
        background-image: url(heartBrokens.gif);
        width: 100%;
        display: none;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    #pic1{
        background-image: url(pic1.gif);
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


    }
    h1{
        text-align: center;
    }
    main{
        display: flex;
        gap: 30px;
    }
    button{
        z-index: 999999;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 10px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.1s ease-in-out;

    }
    button:active{
        transform: scale(0.95);
        transition: 0.1s ease-in-out;
    }
    button:nth-child(1){
        background-color: rgb(5, 163, 5);
        color: white;
    }

    button:nth-child(2):hover{
        background-color: red;
        color: white;
        
    }